.create-post {
    margin-top: 10px;
    &__button {
        color: white;
        text-decoration: none;
        width: 100%;
        display: flex;
        background-color: #0d1117;
        cursor: pointer;
        padding-block: 10px;
        border-radius: 6px;
        column-gap: 10px;
        align-items: center;
        border: 1px solid #5d5d5d;
        
    }
}
